{{define "before_content"}}
<!DOCTYPE html>
<html>
     <head>
         <title>Golang test chat</title>
         <meta charset="utf-8">

         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     </head>
     <body>
          <header>
               <ul class="nav justify-content-center">
                    <li class="nav-item">
                         <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/channel">Channels</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/auth/login">Login</a>
                    </li>
               </ul>
          </header>

          <div class="container">
{{end}}

{{define "after_content"}}
          </div>
     </body>
</html>
{{end}}
